<form #addform="ngForm" (ngSubmit)="submitNewClient(addform)" [gutter]="3" cForm cRow class="needs-validation" ngNativeValidate>
  <c-col [md]="4">
    <label cLabel for="validationServer01">full name</label>
    <input
    #name
      ngModel
      name="nom"
      [valid]="nameValidity"
      cFormControl
      id="validationServer01"
      required
      type="text"
      placeholder="saadli wissem"
      (change)="isValidName(name.value)"
      
    />
    <c-form-feedback [valid]="false">invalid name</c-form-feedback>
  </c-col>
  <c-col [md]="4">
    <label cLabel for="validationServer02">address</label>
    <input
    name="adresse"
    ngModel
    #adresse
      [valid]="AdressValidity"
      cFormControl
      id="validationServer02"
      required
      (change)="validAdresse(adresse.value)"
      type="text"
      placeholder="12 street region"
    />
    
      <c-form-feedback [valid]="false">invalid adresse</c-form-feedback>
    
  </c-col>
  <c-col [md]="4">
    <label cLabel for="validationServerUsername">Email</label>
    <c-input-group class="has-validation">
      <span cInputGroupText>@</span>
      <input
      name="email"
      ngModel
        #mail
        [valid]="validMail"
        aria-describedby="inputGroupPrepend03"
        cFormControl
        id="validationServerUsername"
        required
        (change)="verifMail(mail.value)"
        type="text"
        placeholder="you@exmaple.com"
      />
      <c-form-feedback [valid]="false">Please use a valid email !</c-form-feedback>
    </c-input-group>
  </c-col>
  <c-col [md]="2">
    <label cLabel for="validationServerUsername">Phone Number </label>
    <c-input-group class="has-validation">
      
      <input
      name="tel"
        #phone
        ngModel
        [valid]="validPhone"
        aria-describedby="inputGroupPrepend03"
        cFormControl
        id="validationServerUsername"
        required
        (change)="verifyTunisianPhoneNumber(phone.value)"
        type="text"
        placeholder=" 21 212 212"
      />
      <c-form-feedback [valid]="false">Please use a valid phone number !</c-form-feedback>
    </c-input-group>
  </c-col>
  <c-col [md]="2">
    <label cLabel for="validationServer04">state</label>
    <select name="ville" ngModel #city  cSelect id="validationServer04" (change)="regionByState(city.value)">
      
      <option
        
        *ngFor="let ville of Tunisie"
        [value]="ville"
      >
        {{ ville }}
      </option>
    </select>
    
  </c-col>
  <c-col [md]="2">
    <label cLabel for="validationServer03">Region</label>
    <select ngModel name="region" #region cSelect id="validationServer04" (change)="zipcodeByRegion(region.value)">
      <option disabled>choisir une region</option>
      <option #region *ngFor="let reg of region1" [value]="reg">
        {{ reg }}
      </option>
    </select>
    
  </c-col>
  <c-col [md]="2">
    <label cLabel for="validationServer05"> Code Postale</label>
    <select ngModel name="codePostale" cSelect id="validationServer04">
      <option disabled>choisir un zipcode</option>
      <option #zipCode *ngFor="let code of codePostale" [value]="code">
        {{ code }}
      </option>
    </select>
    
  </c-col>
  <c-col [xs]="12">
    <c-form-check class="mb-3">
      <input
        [valid]="checked"
        cFormCheckInput
        id="invalidCheckServer"
        required
        type="checkbox"
        #myCheckbox (change)="onCheckboxChange(myCheckbox.checked)"
      />
      <label cFormCheckLabel for="invalidCheckServer"
        >Agree to terms and conditions</label
      >
    </c-form-check>
    <c-form-feedback [valid]="false"
      >You must agree before submitting.</c-form-feedback
    >
  </c-col>
  <c-col [xs]="12">
    <button [disabled]="addform.invalid"  cButton color="primary" type="submit">Submit form</button>
  </c-col>
</form>
