<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Clients</strong> 
      </c-card-header>
      <c-card-body>
        
        <div class="table-responsive-md">
          <table [striped]="true" cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">nom</th>
              <th scope="col">adresse</th>
              <th scope="col">ville</th>
              <th scope="col">region</th>
              <th scope="col">code postale</th>
              <th scope="col">num de compte</th>
              <th scope="col">num de téléphone</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of clients; let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{client.nom}}</td>
              <td>{{client.adresse}}</td>
              <td>{{client.ville}}</td>
              <td>{{client.region}}</td>
              <td>{{client.codePostale}}</td>
              <td>{{client.countNum}}</td>
              <td>{{client.tel}}</td>
                
              <td><Button (click)="deleteClient(client.id,client.nom)">edit</Button></td>
              <td><Button (click)="deleteClient(client.id,client.nom)">delete</Button> </td>
              
            </tr>
            
            </tbody>
          </table>
        </div>
        <div>
          
        </div>
        
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<div>
  {{codePostaleTunisie[1]}}
</div>