<form
  #addform="ngForm"
  [gutter]="3"
  cForm
  cCol
  class="needs-validation"
  ngNativeValidate
  (ngSubmit)="submitNewArticle(addform)"
>
  <c-col [md]="4">
    <label cLabel for="validationServer01">Article name</label>
    <input
      #name
      ngModel
      name="name"
      cFormControl
      id="validationServer01"
      required
      type="text"
      placeholder="camera canon"
      (change)="setName(name.value)"
    />
    <c-form-feedback [valid]="false">invalid name</c-form-feedback>
  </c-col>
  <c-col [md]="2">
    <label cLabel for="validationServerUsername">Quantity </label>
    <c-input-group class="has-validation">
      <input
        #qte
        ngModel
        name="qte"
        aria-describedby="inputGroupPrepend03"
        cFormControl
        id="validationServerUsername"
        required
        type="number"
        placeholder="0"
      />
      <c-form-feedback [valid]="false">Please add a quantity !</c-form-feedback>
    </c-input-group>
  </c-col>
  <c-col [md]="2">
    <label cLabel for="validationServer02">purchase price</label>
    <input
      name="pAcha"
      ngModel
      #pAcha
      cFormControl
      id="validationServer02"
      required
      type="number"
      placeholder="0 TND"
    />

    <c-form-feedback [valid]="false">invalid adresse</c-form-feedback>
  </c-col>
  <c-col [md]="2">
    <label cLabel for="validationServerUsername">selling price</label>
    <c-input-group class="has-validation">
      <input
        name="pv"
        ngModel
        #pv
        aria-describedby="inputGroupPrepend03"
        cFormControl
        id="validationServerUsername"
        required
        type="number"
        placeholder="0 TND"
      />
      <c-form-feedback [valid]="false"
        >Please use a valid email !</c-form-feedback
      >
    </c-input-group>
  </c-col>
  <c-col [md]="4">
    <label cLabel for="validationServer02">image</label>
    <input
      name="src"
      ngModel
      #src
      cFormControl
      id="validationServer02"
      type="file"
      value="select"
      (change)="onSelect(src.files)"
      [valid]="msg"
    />
    
    <c-form-feedback [valid]="false">only image type is supported</c-form-feedback>
  </c-col>
  <pre> </pre>
  <img style="width: 200px;height: 200px;" [src]="ImgUrl" alt="Image Preview" *ngIf="ImgUrl" />
  <c-col [md]="4">
    <label cLabel for="validationServer02">Description</label>
    <textarea
      name="description"
      ngModel
      #description
      cFormControl
      id="validationServer02"
      type="text"
      placeholder="Description"
    ></textarea>

    <c-form-feedback [valid]="false">invalid adresse</c-form-feedback>
  </c-col>
  
  <c-col [xs]="12">
    <c-form-check class="mb-3">
      <input cFormCheckInput id="invalidCheckServer" required type="checkbox" />
      <label cFormCheckLabel for="invalidCheckServer"
        >Agree to terms and conditions</label
      >
    </c-form-check>
    <c-form-feedback [valid]="false"
      >You must agree before submitting.</c-form-feedback
    >
  </c-col>
  <c-col [xs]="12">
    <button [disabled]="addform.invalid" cButton color="primary" type="submit">
      create article
    </button>
  </c-col>
</form>
