
    <igx-card>
        <igx-card-media height="180px">
            <img [src]="">
        </igx-card-media>

        <igx-card-header>
            <h3 igxCardHeaderTitle>{{ a.pxachat }}</h3>
            <h5 igxCardHeaderSubtitle>{{ a.pxvente }}</h5>
        </igx-card-header>

        <igx-card-content>
            <p>{{ a.ref }}</p>
        </igx-card-content>

        <igx-card-actions>
            <!--
                <button igxButton="icon"
                igxRipple
                [igxRippleCentered]="true"
                *ngFor="let icon of card.icons">
                <igx-icon>{{icon}}</igx-icon>
            </button>
            <button igxButton igxRipple *ngFor="let button of card.buttons">{{ button }}</button>
        --> 
            
        </igx-card-actions>

    </igx-card>