<igx-card>
  <igx-card-media height="180px">
    <img [src]="a.src" />
  </igx-card-media>

  <igx-card-header>
    <h3 igxCardHeaderTitle>{{ a.name }}</h3>
    <h3 igxCardHeaderTitle>{{ a.pAcha }}</h3>
    <h5 igxCardHeaderSubtitle>{{ a.pVente }}</h5>
  </igx-card-header>

  <igx-card-content>
    <p>{{ a.ref }}</p>
  </igx-card-content>

  <igx-card-actions>
    <button igxButton="icon" igxRipple [igxRippleCentered]="true"></button>
    <igx-icon style="color: blue">edit</igx-icon>
    <igx-icon style="color: red; margin-left: 10px">delete</igx-icon>
  </igx-card-actions>
</igx-card>
