<igx-card>
  <igx-card-media height="180px">
    <img [src]="a.src" />
  </igx-card-media>

  <igx-card-header>
    Quantity:
    {{ a.qte }}

    <h3 style="color: brown" igxCardHeaderTitle>{{ a.name }}</h3>
    <h3 igxCardHeaderTitle>purchase price: {{ a.pAcha }} TND</h3>
    <h5 igxCardHeaderSubtitle>selling price : {{ a.pVente }}TND</h5>
  </igx-card-header>

  <igx-card-content>
    <p>{{ a.description }}</p>
  </igx-card-content>

  <igx-card-actions>
    <button igxButton="icon" igxRipple [igxRippleCentered]="true"></button>
    <igx-icon (click)="redirect(a.ref)" style="color: blue; cursor: pointer">edit</igx-icon>
    <igx-icon (click)="deleteArticle(a.ref,a.name)" style="color: red; margin-left: 10px; cursor: pointer"
      >delete</igx-icon
    >
  </igx-card-actions>
</igx-card>
